# ignore all files in this folder
/zaliczenie_sem1/z2/node_modules/
/zaliczenie_sem1/z4/node_modules/
/zaliczenie_sem1/z5/node_modules/
/zaliczenie_sem1/z6/node_modules/

/sem2_pd1_06_03_2021/06/node_modules/