# ignore all files in this folder
/zaliczenie_sem1/z2/node_modules/
/zaliczenie_sem1/z4/node_modules/
/zaliczenie_sem1/z5/node_modules/
/zaliczenie_sem1/z6/node_modules/

/sem2_pd1_06_03_2021/06/node_modules/
/sem2_pd1_06_03_2021/06/*.js

/sem2_pd1_06_03_2021/07/node_modules/

/sem2_pd2_10_04_2021/*/node_modules/

/sem2_wyklady_all/*.pdf

/zaliczenie_sem2/node_modules/